@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Bacasime+Antique&family=Bodoni+Moda:wght@400;500;600&family=Cormorant+Garamond:wght@300;400;500;600&family=El+Messiri:wght@400;600;700;800;900;1000&family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:wght@400;700&family=Marcellus&family=Narnoor&family=Nunito:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700&family=Sacramento&family=Ysabeau+Infant:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Bacasime+Antique&family=Bodoni+Moda:wght@400;500;600&family=Cormorant+Garamond:wght@300;400;500;600&family=El+Messiri:wght@400;600;700&family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:wght@400;700&family=Lumanosimo&family=Marcellus&family=Montserrat:wght@200;300;400;500;600&family=Mulish:wght@300;400;500;600&family=Narnoor&family=Nunito:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Sacramento&family=Ysabeau+Infant:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s steps(100);
  position: relative; }

html {
  font-size: 62.5%; }

body {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #ffffff; }
  body a {
    text-decoration: none; }

/* utility classes */
.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.pointer:hover {
  cursor: pointer; }

.container {
  max-width: 1150px;
  width: 100%;
  margin-inline: auto; }

/* utility classes end */
.header {
  background-image: linear-gradient(to right bottom, rgba(47, 78, 84, 0.8), rgba(0, 42, 43, 0.8)), url("./images//hero-small.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  text-align: center;
  font-family: "El Messiri", sans-serif; }
  .header .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 3rem;
    position: absolute;
    top: 0; }
    .header .nav img {
      height: 4rem; }
    .header .nav i {
      font-size: 2rem;
      color: #002a2b;
      padding: 10px 10px 10px 11px;
      background-color: white;
      border-radius: 50%;
      position: fixed;
      right: 65px;
      z-index: 100; }
  .header .header-content {
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white; }
    .header .header-content h1 {
      letter-spacing: 3.5rem;
      font-weight: 800;
      font-size: 4.8rem;
      animation: slide1 1.2s ease 1 forwards; }
    .header .header-content h3 {
      letter-spacing: 1.8rem;
      font-size: 1.6rem;
      animation: slide2 1.2s ease 1 forwards;
      right: 7px; }
    .header .header-content .btn {
      padding: 1rem 2rem 0.8rem 2rem;
      font-weight: 800;
      border-radius: 1rem;
      background: linear-gradient(to right, #589697fd, #0a767bfd);
      border: 2px solid white;
      font-size: 1.6rem;
      color: #fffffffd;
      margin-top: 4rem;
      letter-spacing: 0.5rem;
      animation: slide3 1.7s ease 1 forwards; }
      .header .header-content .btn:hover {
        cursor: pointer;
        scale: 1.02; }
      .header .header-content .btn:active {
        scale: 0.99; }

@keyframes slide1 {
  0% {
    translate: -10rem;
    opacity: 0; }
  80% {
    translate: 1rem; }
  100% {
    translate: 0px;
    opacity: 1; } }

@keyframes slide2 {
  0% {
    translate: 10rem;
    opacity: 0; }
  80% {
    translate: -1rem; }
  100% {
    translate: 0px;
    opacity: 1; } }

@keyframes slide3 {
  0% {
    transform: translateY(4rem);
    opacity: 0%; }
  60% {
    transform: translateY(4rem);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

main {
  background-color: #f7f7f7;
  margin-top: -30vh;
  min-height: 500px; }
  main .sec-1 {
    color: black;
    font-size: 1.6rem;
    margin-bottom: 250px;
    padding-inline: 10px; }
    main .sec-1 h1 {
      margin: 250px 0 5rem 0;
      font-weight: 800;
      font-size: 3.5rem;
      letter-spacing: 2px;
      width: fit-content;
      margin-inline: auto;
      background: linear-gradient(to right, #589697fd, #0a767bfd);
      -webkit-background-clip: text;
      color: transparent; }
      main .sec-1 h1:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        cursor: default; }
    main .sec-1 .content {
      gap: 2rem;
      font-weight: 600;
      color: #004e50;
      font-size: 1.8rem;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
      main .sec-1 .content .left {
        gap: 1rem;
        max-width: 550px; }
        main .sec-1 .content .left .btn {
          color: #ffffff !important;
          background: linear-gradient(to right, #589697, #0a757b);
          padding: 12px 20px 12px 20px;
          width: fit-content;
          font-size: 1.7rem;
          border-radius: 3px;
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: rgba(0, 0, 0, 0.491);
          font-weight: 500; }
          main .sec-1 .content .left .btn:hover {
            background: url(./images/nat-3.jpg);
            background-blend-mode: darken;
            background-color: rgba(0, 0, 0, 0.491);
            background-position: center;
            background-size: cover;
            cursor: pointer; }
      main .sec-1 .content .left .text {
        color: #426263;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 2.2rem; }
      main .sec-1 .content .btn {
        margin-top: 1rem; }
      main .sec-1 .content .right {
        display: flex;
        flex-direction: column;
        right: 5rem; }
        main .sec-1 .content .right img {
          position: absolute;
          right: 0;
          bottom: -60px;
          border-radius: 0.5rem;
          box-shadow: 1.5rem 1.5rem 4rem #585858; }
          main .sec-1 .content .right img:last-child {
            box-shadow: 0rem 1.5rem 4rem #585858; }
          main .sec-1 .content .right img:not(:last-child):hover {
            box-shadow: 1.5rem 0rem 10rem #585858 !important; }
          main .sec-1 .content .right img:hover {
            scale: 1.05;
            z-index: 5;
            transform: translateY(-1rem); }
        main .sec-1 .content .right .img-1 {
          right: 8rem; }
        main .sec-1 .content .right .img-2 {
          left: -15rem;
          top: -8rem; }
        main .sec-1 .content .right .img-3 {
          top: -1rem; }

.features-section {
  width: 100%;
  margin-top: -15rem;
  background-size: cover;
  height: 110vh !important;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, rgba(47, 78, 84, 0.8), rgba(0, 42, 43, 0.8)), url("./images/nat-4.jpg");
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }
  .features-section .container {
    gap: 5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .features-section .container .feature {
      gap: 2rem;
      max-width: 25rem;
      background-color: white;
      text-align: center;
      padding: 2.3rem 2rem;
      border-radius: 5px;
      height: 290px; }
      .features-section .container .feature i {
        font-size: 5rem;
        color: #0a767bfd;
        margin-bottom: 1.7rem; }
      .features-section .container .feature .head {
        font-size: 1.7rem;
        color: #2e4a4a;
        font-weight: 800; }
      .features-section .container .feature .text {
        font-size: 1.5rem;
        color: #334f50; }
      .features-section .container .feature:hover {
        transform: translateY(-0.3rem) scale(1.03);
        cursor: default; }

.tours-section .container {
  gap: 6rem;
  color: #002a2b; }
  .tours-section .container .head {
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 2px;
    width: fit-content;
    margin-inline: auto;
    background: linear-gradient(to right, #589697fd, #0a767bfd);
    -webkit-background-clip: text;
    color: transparent; }
    .tours-section .container .head:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      cursor: default; }
  .tours-section .container .bottom-btn {
    color: #ffffff !important;
    background: linear-gradient(to right, #589697, #0a757b);
    padding: 12px 20px 12px 20px;
    width: fit-content;
    font-size: 1.7rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.491);
    padding-inline: 20px;
    padding-block: 10px;
    padding-top: 12px;
    margin-inline: auto; }
    .tours-section .container .bottom-btn:hover {
      background: url(./images/nat-6-small.jpg);
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, 0.491);
      background-position: center;
      background-size: cover;
      cursor: pointer; }
  .tours-section .container .tour-cards {
    gap: 5rem;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center; }
    .tours-section .container .tour-cards .tour {
      perspective: 150rem; }
      .tours-section .container .tour-cards .tour .tour-card {
        box-shadow: 1rem 1rem 4rem gray;
        border-radius: 10px; }
      .tours-section .container .tour-cards .tour .front-side {
        backface-visibility: hidden;
        max-width: 32rem;
        text-align: center;
        transition: all 0.8s ease; }
        .tours-section .container .tour-cards .tour .front-side img {
          background-blend-mode: darken;
          background-color: #35fcff;
          width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          border-radius: 10px 10px 0px 0px; }
      .tours-section .container .tour-cards .tour .back-side {
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
        transition: all 0.8s ease;
        transform: rotateY(180deg);
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: "El Messiri", sans-serif;
        color: white; }
        .tours-section .container .tour-cards .tour .back-side p {
          font-size: 1.6rem;
          font-weight: 800; }
        .tours-section .container .tour-cards .tour .back-side .price {
          font-size: 5rem; }
        .tours-section .container .tour-cards .tour .back-side .btn {
          padding: 14px 20px 12px 20px;
          border-radius: 5px;
          background-color: white;
          color: #002a2b;
          font-weight: 800;
          font-size: 1.5rem;
          top: 5rem; }
        .tours-section .container .tour-cards .tour .back-side .btn:hover {
          cursor: pointer;
          background-color: #ececec; }
        .tours-section .container .tour-cards .tour .back-side > * {
          bottom: 5rem; }
      .tours-section .container .tour-cards .tour:hover .front-side {
        transform: rotateY(-180deg); }
      .tours-section .container .tour-cards .tour:hover .back-side {
        transform: rotateY(0deg); }
      .tours-section .container .tour-cards .tour .tour-info {
        padding: 2rem 3rem;
        font-weight: 800;
        color: #334f50;
        font-size: 1.5rem; }
        .tours-section .container .tour-cards .tour .tour-info hr {
          margin-block: 10px; }
    .tours-section .container .tour-cards #tour-1 .back-side {
      background: linear-gradient(to bottom right, #ffb743, #ff6200); }
    .tours-section .container .tour-cards #tour-2 .back-side {
      background: linear-gradient(to bottom right, #82cd6b, #287d00); }
    .tours-section .container .tour-cards #tour-3 .back-side {
      background: linear-gradient(to bottom right, #6aa3cc, #074978); }

.testimony-section {
  padding-block: 8rem; }
  .testimony-section video {
    width: 100%;
    position: absolute;
    opacity: 30%; }
  .testimony-section .container {
    gap: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem; }
    .testimony-section .container h1 {
      font-weight: 800;
      font-size: 3.5rem;
      letter-spacing: 2px;
      width: fit-content;
      margin-inline: auto;
      background: linear-gradient(to right, #589697fd, #0a767bfd);
      -webkit-background-clip: text;
      color: transparent;
      color: transparent;
      background: linear-gradient(to right, #005a65, #00344b);
      -webkit-background-clip: text; }
      .testimony-section .container h1:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        cursor: default; }
    .testimony-section .container .btn {
      display: flex;
      gap: 10px;
      backface-visibility: hidden;
      color: #ffffff !important;
      background: linear-gradient(to right, #589697, #0a757b);
      padding: 12px 20px 12px 20px;
      width: fit-content;
      font-size: 1.7rem;
      border-radius: 3px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: rgba(0, 0, 0, 0.491); }
      .testimony-section .container .btn:hover {
        background: url(./images/nat-10-small.jpg);
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.491);
        background-position: center;
        background-size: cover;
        cursor: pointer; }
    .testimony-section .container .testimonies {
      gap: 5rem; }
      .testimony-section .container .testimonies #testimony-2 .img {
        width: 43.5rem; }
      .testimony-section .container .testimonies .testimony {
        height: 25rem;
        max-width: 80rem;
        gap: 2rem;
        color: #426263;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 2.5rem 2rem;
        align-items: center;
        padding-inline: 5rem;
        transform: skewX(-12deg);
        transition: all 0.5s ease;
        box-shadow: 0.3rem 0.3rem 3rem #9b9b9b;
        background-color: rgba(255, 255, 255, 0.733); }
        .testimony-section .container .testimonies .testimony > * {
          transform: skewX(12deg); }
        .testimony-section .container .testimonies .testimony .img {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          overflow: hidden;
          height: 14rem;
          width: 32.5rem; }
          .testimony-section .container .testimonies .testimony .img img {
            border-radius: 50%;
            width: 104rem;
            height: 14rem;
            object-fit: cover;
            transform: scale(1.2); }
          .testimony-section .container .testimonies .testimony .img .caption {
            position: absolute;
            color: white;
            font-size: 1.4rem;
            transform: translateY(7rem);
            opacity: 0; }
        .testimony-section .container .testimonies .testimony:hover .img img {
          filter: blur(0.3rem) brightness(0.95);
          transform: scale(1); }
        .testimony-section .container .testimonies .testimony:hover .img .caption {
          transform: translateY(0rem);
          opacity: 1; }
        .testimony-section .container .testimonies .testimony .text {
          justify-content: center;
          gap: 20px; }
          .testimony-section .container .testimonies .testimony .text p {
            font-weight: 400; }
          .testimony-section .container .testimonies .testimony .text .head {
            font-size: 1.8rem;
            color: #002a2b; }

.booking-section {
  height: 90vh;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #2f4e54, #002a2b); }
  .booking-section .container {
    height: 80%;
    background: url("./images/nat-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .booking-section .container .form {
      height: 100%;
      max-width: 60rem;
      background-color: rgba(255, 255, 255, 0.842);
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
      gap: 2rem;
      justify-content: center;
      align-items: center;
      padding: 2rem 3rem; }
      .booking-section .container .form > * {
        right: 4rem; }
      .booking-section .container .form .for-name, .booking-section .container .form .for-email {
        display: none; }
      .booking-section .container .form .option-btn {
        font-size: 1.6rem;
        color: #002a2b;
        font-weight: 600;
        max-width: 40rem;
        width: 100%;
        justify-content: space-between; }
      .booking-section .container .form label {
        gap: 2rem;
        justify-content: center;
        align-items: center; }
        .booking-section .container .form label input {
          -ms-transform: scale(1.5);
          /* IE 9 */
          -webkit-transform: scale(1.5);
          /* Chrome, Safari, Opera */
          transform: scale(1.5); }
      .booking-section .container .form input:not(:nth-child(1)) {
        max-width: 40rem;
        padding: 1.2rem 1.5rem;
        width: 100%;
        border: none;
        border-bottom: 3px solid #0e353700;
        outline: none;
        font-size: 1.5rem; }
        .booking-section .container .form input:not(:nth-child(1)):focus {
          border-bottom: 3px solid #38626b; }
      .booking-section .container .form .btn {
        color: #ffffff !important;
        background: linear-gradient(to right, #589697, #0a757b);
        padding: 12px 20px 12px 20px;
        width: fit-content;
        font-size: 1.7rem;
        border-radius: 3px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.491);
        width: 100%;
        max-width: 40rem;
        background: linear-gradient(to right, #589697fd, #0a767bfd);
        margin-top: 3rem;
        justify-content: center;
        font-weight: 600; }
        .booking-section .container .form .btn:hover {
          background: url();
          background-blend-mode: darken;
          background-color: rgba(0, 0, 0, 0.491);
          background-position: center;
          background-size: cover;
          cursor: pointer; }
        .booking-section .container .form .btn:hover {
          background: linear-gradient(to right, #589697fd, #0a767bfd); }
          .booking-section .container .form .btn:hover i {
            translate: 1rem; }
      .booking-section .container .form #full-name {
        text-transform: capitalize; }
      .booking-section .container .form h1 {
        font-weight: 800;
        font-size: 3.5rem;
        letter-spacing: 2px;
        width: fit-content;
        margin-inline: auto;
        background: linear-gradient(to right, #589697fd, #0a767bfd);
        -webkit-background-clip: text;
        color: transparent; }
        .booking-section .container .form h1:hover {
          transform: skewY(2deg) skewX(15deg) scale(1.1);
          cursor: default; }

.footer-section {
  height: 70vh;
  background-color: #242424;
  justify-content: center;
  font-size: 1.6rem;
  padding-inline: 3rem; }
  .footer-section .container {
    justify-content: center;
    align-items: center;
    gap: 6rem; }
    .footer-section .container a {
      text-decoration: none;
      color: #d1d1d1;
      transition: all .2s ease; }
      .footer-section .container a:hover {
        scale: 1.05;
        color: #8ef9ff; }
    .footer-section .container .bottom {
      gap: 3rem;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start; }
      .footer-section .container .bottom > * {
        max-width: 47rem;
        color: #d1d1d1; }
      .footer-section .container .bottom .bottom-left hr {
        margin-bottom: 2rem; }
      .footer-section .container .bottom .bottom-left .links {
        gap: 2rem; }
      .footer-section .container .bottom .bottom-right hr {
        margin-bottom: 2rem; }
