@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Bacasime+Antique&family=Bodoni+Moda:wght@400;500;600&family=Cormorant+Garamond:wght@300;400;500;600&family=El+Messiri:wght@400;600;700;800;900;1000&family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:wght@400;700&family=Marcellus&family=Narnoor&family=Nunito:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700&family=Sacramento&family=Ysabeau+Infant:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Bacasime+Antique&family=Bodoni+Moda:wght@400;500;600&family=Cormorant+Garamond:wght@300;400;500;600&family=El+Messiri:wght@400;600;700&family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:wght@400;700&family=Lumanosimo&family=Marcellus&family=Montserrat:wght@200;300;400;500;600&family=Mulish:wght@300;400;500;600&family=Narnoor&family=Nunito:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Sacramento&family=Ysabeau+Infant:wght@200;300;400;500;600;700&display=swap");

// variables
$light-color: #2f4e54;
$dark-color: #002a2b;
$primary-light-color: #589697fd;
$primary-dark-color: #0a767bfd;

// extends
@mixin text-gradient {
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 2px;
    width: fit-content;
    margin-inline: auto;
    background: linear-gradient(to right, $primary-light-color, $primary-dark-color);
    -webkit-background-clip: text;
    color: transparent;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        cursor: default;
    }
}

@mixin gradient-button($url) {
    color: #ffffff !important;
    background: linear-gradient(to right, #589697, #0a757b);
    padding: 12px 20px 12px 20px;
    width: fit-content;
    font-size: 1.7rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.491);
    &:hover {
        background: url(#{$url});
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.491);
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s steps(100);
    position: relative;
}

html {
    font-size: 62.5%;
}

body {
    padding: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #ffffff;
    a {
        text-decoration: none;
    }
}

/* utility classes */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.pointer:hover {
    cursor: pointer;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin-inline: auto;
}

/* utility classes end */

.header {
    background-image: linear-gradient(to right bottom, rgba($light-color, 0.8), rgba($dark-color, 0.8)), url("./images//hero-small.jpg");
    background-size: cover;
    background-position: top;
    height: 95vh;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    text-align: center;
    font-family: "El Messiri", sans-serif;

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-inline: 4rem;
        padding-block: 3rem;
        position: absolute;
        top: 0;

        img {
            height: 4rem;
        }

        i {
            font-size: 2rem;
            color: #002a2b;
            padding: 10px 10px 10px 11px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            position: fixed;
            right: 65px;
            z-index: 100;
        }
    }

    .header-content {
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        height: 80%;
        color: white;

        h1 {
            letter-spacing: 3.5rem;
            font-weight: 800;
            font-size: 4.8rem;
            animation: slide1 1.2s ease 1 forwards;
        }

        h3 {
            letter-spacing: 1.8rem;
            font-size: 1.6rem;
            animation: slide2 1.2s ease 1 forwards;
            right: 7px;
        }

        .btn {
            padding: 1rem 2rem 0.8rem 2rem;
            font-weight: 800;
            border-radius: 1rem;
            background: linear-gradient(to right, #589697fd, #0a767bfd);
            border: 2px solid white;
            font-size: 1.6rem;
            color: #fffffffd;
            margin-top: 4rem;
            letter-spacing: 0.5rem;
            animation: slide3 1.7s ease 1 forwards;

            &:hover {
                cursor: pointer;
                scale: 1.02;
            }

            &:active {
                scale: 0.99;
            }
        }
    }
}

@keyframes slide1 {
    0% {
        translate: -10rem;
        opacity: 0;
    }
    80% {
        translate: 1rem;
    }
    100% {
        translate: 0px;
        opacity: 1;
    }
}

@keyframes slide2 {
    0% {
        translate: 10rem;
        opacity: 0;
    }
    80% {
        translate: -1rem;
    }
    100% {
        translate: 0px;
        opacity: 1;
    }
}

@keyframes slide3 {
    0% {
        transform: translateY(4rem);
        opacity: 0%;
    }
    60% {
        transform: translateY(4rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

// section-1

main {
    background-color: #f7f7f7;
    margin-top: -30vh;
    min-height: 500px;

    .sec-1 {
        color: black;
        font-size: 1.6rem;
        margin-bottom: 250px;
        padding-inline: 10px;

        h1 {
            margin: 250px 0 5rem 0;
            @include text-gradient;
        }

        .content {
            // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            gap: 2rem;
            font-weight: 600;
            color: #004e50;
            font-size: 1.8rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .left {
                gap: 1rem;
                max-width: 550px;
                .btn {
                    @include gradient-button("./images/nat-3.jpg");
                    font-weight: 500;
                }
            }
            .left .text {
                color: #426263;
                font-size: 1.5rem;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 2.2rem;
            }
            .btn {
                margin-top: 1rem;
            }
            .right {
                display: flex;
                flex-direction: column;
                right: 5rem;
                img {
                    position: absolute;
                    right: 0;
                    bottom: -60px;
                    border-radius: 0.5rem;
                    box-shadow: 1.5rem 1.5rem 4rem rgb(88, 88, 88);
                    &:last-child {
                        box-shadow: 0rem 1.5rem 4rem rgb(88, 88, 88);
                    }
                    &:not(:last-child):hover {
                        box-shadow: 1.5rem 0rem 10rem rgb(88, 88, 88) !important;
                    }
                    &:hover {
                        scale: 1.05;
                        z-index: 5;
                        transform: translateY(-1rem);
                    }
                }
                .img-1 {
                    right: 8rem;
                }
                .img-2 {
                    left: -15rem;
                    top: -8rem;
                }
                .img-3 {
                    top: -1rem;
                }
            }
        }
    }
}

// features section

.features-section {
    width: 100%;
    margin-top: -15rem;
    background-size: cover;
    height: 110vh !important;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, rgba($light-color, 0.8), rgba($dark-color, 0.8)), url("./images/nat-4.jpg");
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);

    .container {
        gap: 5rem;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .feature {
            gap: 2rem;
            max-width: 25rem;
            background-color: white;
            text-align: center;
            padding: 2.3rem 2rem;
            border-radius: 5px;
            height: 290px;

            i {
                font-size: 5rem;
                color: $primary-dark-color;
                margin-bottom: 1.7rem;
            }

            .head {
                font-size: 1.7rem;
                color: #2e4a4a;
                font-weight: 800;
            }

            .text {
                font-size: 1.5rem;
                color: #334f50;
            }

            &:hover {
                transform: translateY(-0.3rem) scale(1.03);
                cursor: default;
            }
        }
    }
}

// tours section

.tours-section {
    .container {
        gap: 6rem;
        color: #002a2b;

        .head {
            @include text-gradient;
        }

        .bottom-btn {
            @include gradient-button("./images/nat-6-small.jpg");
            padding-inline: 20px;
            padding-block: 10px;
            padding-top: 12px;
            margin-inline: auto;
        }

        .tour-cards {
            gap: 5rem;
            font-size: 1.4rem;
            justify-content: center;
            align-items: center;
            .tour {
                perspective: 150rem;
                .tour-card {
                    box-shadow: 1rem 1rem 4rem gray;
                    border-radius: 10px;
                }
                .front-side {
                    backface-visibility: hidden;
                    max-width: 32rem;
                    text-align: center;
                    transition: all 0.8s ease;

                    img {
                        background-blend-mode: darken;
                        background-color: #35fcff;
                        width: 100%;
                        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                        border-radius: 10px 10px 0px 0px;
                    }
                }
                .back-side {
                    backface-visibility: hidden;
                    height: 100%;
                    width: 100%;
                    transition: all 0.8s ease;
                    transform: rotateY(180deg);
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    font-family: "El Messiri", sans-serif;
                    color: white;

                    p {
                        font-size: 1.6rem;
                        font-weight: 800;
                    }

                    .price {
                        font-size: 5rem;
                    }

                    .btn {
                        padding: 14px 20px 12px 20px;
                        border-radius: 5px;
                        background-color: white;
                        color: #002a2b;
                        font-weight: 800;
                        font-size: 1.5rem;
                        top: 5rem;
                    }

                    .btn:hover {
                        cursor: pointer;
                        background-color: rgb(236, 236, 236);
                    }

                    & > * {
                        bottom: 5rem;
                    }
                }

                &:hover .front-side {
                    transform: rotateY(-180deg);
                }

                &:hover .back-side {
                    transform: rotateY(0deg);
                }

                .tour-info {
                    padding: 2rem 3rem;
                    font-weight: 800;
                    color: #334f50;
                    font-size: 1.5rem;

                    hr {
                        margin-block: 10px;
                    }
                }
            }
            #tour-1 .back-side {
                background: linear-gradient(to bottom right, #ffb743, #ff6200);
            }
            #tour-2 .back-side {
                background: linear-gradient(to bottom right, #82cd6b, #287d00);
            }
            #tour-3 .back-side {
                background: linear-gradient(to bottom right, #6aa3cc, #074978);
            }
        }
    }
}

// testimony section

.testimony-section {
    padding-block: 8rem;
    video {
        width: 100%;
        position: absolute;
        opacity: 30%;
    }

    .container {
        gap: 5rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        h1 {
            @include text-gradient;
            color: transparent;
            background: linear-gradient(to right, rgb(0, 90, 101), rgb(0, 52, 75));
            -webkit-background-clip: text;
        }

        .btn {
            display: flex;
            gap: 10px;
            backface-visibility: hidden;
            @include gradient-button("./images/nat-10-small.jpg");
        }

        .testimonies {
            gap: 5rem;

            #testimony-2 {
                .img {
                    width: 43.5rem;
                }
            }

            .testimony {
                height: 25rem;
                max-width: 80rem;
                gap: 2rem;
                color: #426263;
                font-size: 1.6rem;
                font-weight: 600;
                padding: 2.5rem 2rem;
                align-items: center;
                padding-inline: 5rem;
                transform: skewX(-12deg);
                transition: all 0.5s ease;
                box-shadow: 0.3rem 0.3rem 3rem rgb(155, 155, 155);
                background-color: rgba(255, 255, 255, 0.733);

                & > * {
                    transform: skewX(12deg);
                }

                .img {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    overflow: hidden;
                    height: 14rem;
                    width: 32.5rem;

                    img {
                        border-radius: 50%;
                        width: 104rem;
                        height: 14rem;
                        object-fit: cover;
                        transform: scale(1.2);
                    }

                    .caption {
                        position: absolute;
                        color: white;
                        font-size: 1.4rem;
                        transform: translateY(7rem);
                        opacity: 0;
                    }
                }

                &:hover .img {
                    img {
                        filter: blur(0.3rem) brightness(0.95);
                        transform: scale(1);
                    }
                    .caption {
                        transform: translateY(0rem);
                        opacity: 1;
                    }
                }

                .text {
                    justify-content: center;
                    gap: 20px;
                    p {
                        font-weight: 400;
                    }
                    .head {
                        font-size: 1.8rem;
                        color: #002a2b;
                    }
                }
            }
        }
    }
}

// booking section

.booking-section {
    height: 90vh;
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, $light-color, $dark-color);

    .container {
        height: 80%;
        background: url("./images/nat-4.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .form {
            height: 100%;
            max-width: 60rem;
            background-color: rgba(255, 255, 255, 0.842);
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
            gap: 2rem;
            justify-content: center;
            align-items: center;
            padding: 2rem 3rem;

            & > * {
                right: 4rem;
            }

            .for-name, .for-email {
                display: none;
            }

            .option-btn {
                font-size: 1.6rem;
                color: #002a2b;
                font-weight: 600;
                max-width: 40rem;
                width: 100%;
                justify-content: space-between;
            }

            label {
                gap: 2rem;
                justify-content: center;
                align-items: center;

                input {
                    -ms-transform: scale(1.5); /* IE 9 */
                    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
                    transform: scale(1.5);
                }
            }

            input:not(:nth-child(1)) {
                max-width: 40rem;
                padding: 1.2rem 1.5rem;
                width: 100%;
                border: none;
                border-bottom: 3px solid #0e353700;
                outline: none;
                font-size: 1.5rem;

                &:focus {
                    border-bottom: 3px solid #38626b;
                }
            }

            .btn {
                @include gradient-button("");
                width: 100%;
                max-width: 40rem;
                background: linear-gradient(to right, $primary-light-color, $primary-dark-color);
                margin-top: 3rem;
                justify-content: center;
                font-weight: 600;

                &:hover {
                    background: linear-gradient(to right, $primary-light-color, $primary-dark-color);

                    i {
                        translate: 1rem;
                    }
                }
            }

            #full-name {
                text-transform: capitalize;
            }

            h1 {
                @include text-gradient;
            }
        }
    }
}

// footer section

.footer-section {
    height: 70vh;
    background-color: rgb(36, 36, 36);
    justify-content: center;
    font-size: 1.6rem;
    padding-inline: 3rem;

    .container {
        justify-content: center;
        align-items: center;
        gap: 6rem;

        a {
            text-decoration: none;
            color: rgb(209, 209, 209);
            transition: all .2s ease;

            &:hover {
                scale: 1.05;
                color: #8ef9ff;
            }
        }

        .bottom {
            gap: 3rem;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            & > * {
                max-width: 47rem;
                color: rgb(209, 209, 209);
            }

            .bottom-left {
                hr {
                    margin-bottom: 2rem;
                }

                .links {
                    gap: 2rem;
                }
            }

            .bottom-right {
                hr {
                    margin-bottom: 2rem;
                }
            }

        }
    }
}
