@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Bacasime+Antique&family=Bodoni+Moda:wght@400;500;600&family=Cormorant+Garamond:wght@300;400;500;600&family=El+Messiri:wght@400;600;700;800;900;1000&family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Lobster+Two:wght@400;700&family=Marcellus&family=Narnoor&family=Nunito:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700&family=Sacramento&family=Ysabeau+Infant:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
  position: relative; }

html {
  font-size: 62.5%; }

body {
  padding: 30px;
  font-family: "El Messiri", sans-serif;
  color: white;
  background-color: #ffffff; }
  body a {
    text-decoration: none; }

/* utility classes */
.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.pointer:hover {
  cursor: pointer; }

/* utility classes end */
.header {
  background-image: linear-gradient(to right bottom, rgba(45, 51, 52, 0.8), rgba(0, 42, 43, 0.8)), url("./images//hero-small.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  text-align: center; }
  .header .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 3rem;
    position: absolute;
    top: 0; }
    .header .nav img {
      height: 4rem; }
    .header .nav i {
      font-size: 2.4rem;
      color: white; }
  .header .header-content {
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white; }
    .header .header-content h1 {
      letter-spacing: 3.5rem;
      font-weight: 800;
      font-size: 4.8rem;
      animation: slide1 1.2s ease 1 forwards; }
    .header .header-content h3 {
      letter-spacing: 1.8rem;
      font-size: 1.6rem;
      animation: slide2 1.2s ease 1 forwards; }
    .header .header-content .btn {
      padding: 1rem 2rem 0.8rem 2rem;
      font-weight: 800;
      border-radius: 1rem;
      background: linear-gradient(to right, #589697fd, #0a767bfd);
      border: 2px solid white;
      font-size: 1.6rem;
      color: #fffffffd;
      margin-top: 4rem;
      letter-spacing: 0.5rem;
      animation: slide3 1.7s ease 1 forwards; }
      .header .header-content .btn:hover {
        cursor: pointer;
        scale: 1.02; }
      .header .header-content .btn:active {
        scale: 0.99; }

@keyframes slide1 {
  0% {
    translate: -10rem;
    opacity: 0; }
  80% {
    translate: 1rem; }
  100% {
    translate: 0px;
    opacity: 1; } }

@keyframes slide2 {
  0% {
    translate: 10rem;
    opacity: 0; }
  80% {
    translate: -1rem; }
  100% {
    translate: 0px;
    opacity: 1; } }

@keyframes slide3 {
  0% {
    transform: translateY(4rem);
    opacity: 0%; }
  60% {
    transform: translateY(4rem);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
